{% extends 'TwoMartensCoreBundle:ACPGroup:add.html.twig' %}

{% block innerContent %}
    <p class="alert alert-warning" role="alert">{% trans from 'TwoMartensCoreBundle' %}acp.group.edit.warning{% endtrans %}</p>
    {{ parent() }}
{% endblock %}
