{% extends 'TwoMartensCoreBundle::area.html.twig' %}

{% block innerContent %}
<p class="alert alert-info" role="alert">{% trans from 'TwoMartensCoreBundle' %}acp.dashboard.welcome{% endtrans %}</p>
{% endblock %}
